---
import Header from "../../components/Header.astro";
import SectionHeader from "../../components/SectionHeader.astro";
import Layout from "../../layouts/Layout.astro";
const posts = await Astro.glob("./*.md");
let publishedPosts = posts.filter((post) => !post?.frontmatter?.draft);

publishedPosts = publishedPosts.sort((a, b) => {
	return (
		(new Date(b?.frontmatter?.date) as unknown as number) -
		(new Date(a?.frontmatter?.date) as unknown as number)
	);
});
---

<Layout title="Blog">
	<main>
		<Header />
		<SectionHeader>Blog</SectionHeader>
		<p>
			A portal into my thoughts, experiences, ideas, visions, interests, and
			more. What's the point of this? Well, I'm not sure, but here you go
			anyhow.
		</p>
		<div class="flex flex-col gap-0 mt-6">
			{
				publishedPosts.map((post, index) => (
					<div class="w-full flex items-center">
						<div class="w-1/6 flex flex-col items-center justify-center pr-4 py-2">
							<h1 class="text-xl font-bold font-souvenir">
								{post?.frontmatter?.date?.split(" ")?.[0]?.trim()}
							</h1>
							<p class="text-xs text-neutral-700 font-medium text-center">
								{post?.frontmatter?.date?.split(" ")?.[1]?.trim()},{" "}
								{post?.frontmatter?.date?.split(" ")?.[2]?.trim()}
							</p>
						</div>
						<div class="relative w-5/6 border-l border-l-emerald-500 pl-4 py-3">
							<div class="absolute top-0 -left-1.5 w-3 aspect-square bg-emerald-500 rounded-full" />
							<a
								href={post?.url}
								class="text-xl font-semibold font-souvenir transition-all"
							>
								{post?.frontmatter?.title}
							</a>
							<p class="text-sm text-neutral-700 font-medium leading-relaxed mt-2 lg:mt-1">
								{post?.frontmatter?.description}
							</p>
							{index === publishedPosts?.length - 1 && (
								<div class="absolute bottom-0 -left-1.5 w-3 aspect-square bg-emerald-500 rounded-full" />
							)}
						</div>
					</div>
				))
			}
		</div>
	</main>
</Layout>
