@import url("https://fonts.cdnfonts.com/css/whois");
@import url("https://fonts.cdnfonts.com/css/sudo-var");
@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");

:root {
	--body-font-family: "Sudo Var";
	--header-font-family: "TheGoodMonolith";
	--alt-font-family: "Whois";
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

[x-cloak] {
	display: none !important;
}

html {
	font-family: var(--body-font-family), var(--alt-font-family), Arial, Helvetica,
		sans-serif;
	font-size: 1.025rem;
	line-height: 1.5;
	background-color: theme("colors.secondary.light");
	color: theme("colors.primary.text.light");
	transition:
		background-color 0.3s,
		color 0.3s;

	&.dark {
		background-color: theme("colors.secondary.dark");
		color: theme("colors.primary.text.dark");
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font-family), var(--alt-font-family), Arial,
		Helvetica, sans-serif;
	font-weight: bold;
}

a {
	color: theme("colors.secondary.600");
	text-decoration: underline;
	text-underline-offset: 4px;
	cursor: pointer;

	nav &,
	[no-underline] & {
		text-decoration: none;
	}

	.dark & {
		color: theme("colors.secondary.300");
	}

	&:hover {
		color: theme("colors.primary.400");

		.dark & {
			color: theme("colors.primary.300");
		}
	}
}

.tag {
	background-color: theme("colors.primary.200");
	color: theme("colors.primary.600");
	font-size: theme("fontSize.xs");
	padding: theme("spacing.1") theme("spacing[1.5]");
	border-radius: theme("borderRadius.sm");
	user-select: none;

	@apply dark:bg-secondary-900 dark:text-primary-200;

	a& {
		text-decoration: none;
	}
}

article.blog-content {
	margin-top: theme("spacing.1");

	h1 {
		font-size: theme("fontSize.3xl");
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: theme("fontSize.2xl");
	}

	& p {
		padding-block: theme("padding[1.5]");
	}

	& blockquote {
		font-size: 0.85rem;
		font-family: var(--alt-font-family);
		line-height: 1.45rem;
		background-color: theme("colors.secondary.200");
		border-left: 5px solid theme("colors.secondary.900");
		margin-block: theme("margin[2.5]");
		padding: theme("padding[0.5]") theme("padding.4");

		.dark & {
			background-color: theme("colors.secondary.900");
			border-left: 4px solid theme("colors.secondary.200");
		}
	}
}
