<hr class="mt-12" />

<footer class="container text-sm text-center pt-6 pb-12 px-6 space-y-3">
  <p>
    &copy; {new Date().getFullYear()}
    <b>Ayodeji O.</b> | All Rights Reserved.
  </p>

  <p>
    Source code is available at <a href="https://github.com/aosasona/trulyao.dev" target="_blank">github.com/aosasona/trulyao.dev</a>
  </p>

  <p>
    If you for some reason want to support me & what I work on, you can sponsor me on <a href="https://github.com/sponsors/aosasona" target="_blank">Github</a>
  </p>
</footer>
