---
import Show from "./Show.astro"
export interface Props {
  data: string[];
}

let { data: tags } = Astro.props;

function slugifyTag(tag: string) {
  return tag
    .toLowerCase()
    .replace(/[^a-z0-9]+/gi, "-")
    .replace(/^-+/, "")
    .replace(/-+$/, "");
}
---
<Show when={tags && tags.length > 0 }>
    <div class="flex gap-2 flex-wrap">
      {tags.map((tag) => (
        <!-- prettier-ignore -->
        <a href={"/tags/" + slugifyTag(tag)} class="tag">{tag?.trim()}</a>
      ))}
    </div>
</Show>
