---
import type { CollectionEntry } from "astro:content";

export interface Props {
	note: CollectionEntry<"notes">;
}

const {
	note: { data, slug },
} = Astro.props;
---

<style>
.note-title {
	font-family: var(--header-font-family), var(--alt-font-family), Arial, Helvetica, sans-serif;

	@apply block text-primary-text-light dark:text-primary-text-dark text-lg font-semibold dark:font-medium no-underline leading-tight transition-colors duration-100;

	&:hover {
		@apply text-primary-500 dark:text-primary-400 underline underline-offset-4;
	}
}
</style>

<div class="flex items-center justify-between gap-3">
	<div>
		<a href={"/notes/" + slug} class="note-title">{data.title}</a>
	</div>
	<time class="text-sm text-primary-text-light/60 dark:text-primary-text-dark/60" datetime={data.date.toISOString()}>
		{new Date(data.date).toLocaleDateString("en-GB")}
	</time>
</div>
