---
import { Icon } from "astro-icon/components";
import Show from "@components/misc/Show.astro";
import Tags from "@components/misc/Tags.astro";
import type { CollectionEntry } from "astro:content";

type Project = CollectionEntry<"projects">["data"][number];

export interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<style>
  a,
  [data-icon] {
    display: inline-block;
  }
</style>

<div class="space-y-1.5">
  <h2 class="text-primary-text-light dark:text-primary-text-dark text-xl">{project.name}</h2>
  <p class="text-[14px] text-primary-text-light/60 dark:text-primary-text-dark/60 leading-relaxed tracking-normal">{project.description}</p>

  <div class="w-full flex justify-between items-center">
    <Tags data={(project?.tags || []) as string[]} />

    <div class="text-xl space-x-2.5">
      <Show when={!!project.website_url}>
        <a href={project.website_url ?? ""} target="_blank" title="Visit website"><Icon name="tabler:external-link" /></a>
      </Show>

      <Show when={!!project.github_url}>
        <a href={project.github_url ?? ""} target="_blank" title="View on Github"><Icon name="tabler:brand-github" /></a>
      </Show>
    </div>
  </div>
</div>
