---
import Back from "../components/Back.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
	<main>
		<Back />
		<section class="h-[60vh] flex flex-col items-center justify-center gap-4">
			<h1 class="text-[6rem]">404</h1>
			<p class="text-base">uhm... this page doesn't exist</p>
		</section>
	</main>
</Layout>

<style>
	h1 {
		font-size: 8rem;
		font-weight: 900;
		color: var(--color-primary);
	}
	p {
		font-size: 0.7rem;
		font-weight: 400;
		opacity: 0.5;
		margin-top: -1rem;
	}
	section {
		margin-top: auto;
	}
</style>
