---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <main class="h-screen max-h-screen flex flex-col py-8 px-8">
    <a href="/" class="home-link">&larr; Back to home</a>
    <section>
      <h1>404</h1>
      <p>$h!t, you're on a wrong page, look up &uarr;</p>
    </section>
  </main>
</Layout>

<style>
  h1 {
    font-size: 8rem;
    font-weight: 900;
    color: var(--color-primary);
  }
  p {
    font-size: 0.7rem;
    font-weight: 400;
    opacity: 0.5;
    margin-top: -1rem;
  }
  section {
    margin-top: auto;
  }
</style>
