---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
	<main>
		<section class="h-screen flex flex-col items-center justify-center gap-4">
			<h1>404</h1>
			<p>Uhm... this page doesn't exist</p>
			<a href="/" class="animate-bounce">Go back home</a>
		</section>
	</main>
</Layout>

<style>
	h1 {
		font-size: 7rem;
		font-weight: 900;
	}

	p {
		font-size: 1rem;
		font-weight: 400;
		opacity: 0.6;
		margin-top: -1rem;
	}

	section {
		margin-top: auto;
	}
</style>
