---
import BackHome from "../components/BackHome.astro";
import Content from "../components/Content.astro";
import MinimalFooter from "../components/MinimalFooter.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="lg:px-4 lg:w-3/5 2xl:w-3/6 mx-auto -mt-3">
    <BackHome />
    <SectionHeader>About</SectionHeader>
    <Content>
      <p class="mt-4 mb-10">
        Hello, I'm Ayodeji; I'm a Software Engineering student <span class="font-thin italic">somewhere</span> in England and a mostly self-taught software
        developer. Over the past three years, I've worked with quite a number of clients and with amazing product teams, gaining expertise and experience
        with a wide array of exciting technologies in the process. I think I'd say that I'm an inquisitive person who's interested in the "why" of things,
        the human mind, Greek and Norse mythology, science fiction, and a few other... weird topics?
      </p>
    </Content>

    <SectionHeader>Languages & Tools</SectionHeader>
    <Content>
      <p>Here are some of the tools and technologies I have worked with over the last few years; majorly or not (in no particular order):</p>
      <ul class="mt-3">
        <li>HTML, CSS & Vanilla JavaScript</li>
        <li>PHP</li>
        <li>Python</li>
        <li>Node.js</li>
        <li>Typescript</li>
        <li>Golang</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>MongoDB</li>
        <li>Redis</li>
        <li>Docker</li>
        <li>Git</li>
        <li>Linux</li>
        <li>
          Some frameworks/libraries I have "played" with:
          <ul>
            <li>React.js</li>
            <li>React Native</li>
            <li>Astro</li>
            <li>Next.js</li>
            <li>Express.js</li>
            <li>Fastify</li>
            <li>Nest.js</li>
            <li>Laravel</li>
            <li>Flask</li>
          </ul>
        </li>
      </ul>
    </Content>
  </main>
</Layout>
