---
import Layout from "../layouts/Layout.astro";
import ArticleListItem from "../components/ArticleListItem.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

let publishedPosts = posts?.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Blog">
  <main class="container">
    <p class="mt-6">A portal into my thoughts, experiences, ideas, visions, interests, and more. What's the point of this? Well, I'm not sure, but here you go anyway.</p>
    <div class="mt-4 space-y-5">
      {publishedPosts.map((post) => <ArticleListItem post={post} />)}
    </div>
  </main>
</Layout>
