---
import Layout from "@layouts/Layout.astro";
import SiteHeader from "@components/layout/SiteHeader.astro";
import ProjectPreviewListItem from "@components/items/ProjectPreviewListItem.astro";

import { getCollection } from "astro:content";
import H1 from "@components/mdx/H1.astro";
import MinimalArticleListItem from "@components/items/MinimalArticleListItem.astro";

const MAX_LATEST = 6;

const posts = await getCollection("blog", ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});

const publishedPosts = posts
	?.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	?.slice(0, MAX_LATEST);

const projects = (await getCollection("projects"))?.[0]?.data?.slice(
	0,
	MAX_LATEST,
);

const yearsProgramming = new Date().getFullYear() - 2017;
---

<Layout title="Ayodeji O.">
  <main class="container">
    <SiteHeader />

    <section id="about-me" class="space-y-3">
      <!-- prettier-ignore -->
      <p>
        Hiya! I'm Ayodeji; a software engineer, an enjoyer of visual media and a Rookie Motorsports fan (Formula 1, really). I am constantly learning and very keen on crafting the type of software experience I'd like to use—open, fast, intuitive, local-first, and politely out of your way.
      </p>

      <p>
        Programming, with its fun discoveries and challenges, is at the very top of the list of things I absolutely enjoy; both as a profession and as a hobby. I am a big fan of statically-typed compiled languages (e.g. Go), PHP, and the BEAM, but I often (have to) dabble in <a href="/tools">other things</a> too. I <a href="/blog">write</a> here from time to time, and I stream infrequently on <a href="https://twitch.tv/3x3cv3">Twitch</a>.
      </p>

      <p>
        I have been programming <em>consistently</em> for ~{yearsProgramming} years and professionally for about {yearsProgramming-2} years. I got into it <a href="/posts/computers-are-fast#my-history-with-computers">via Microsoft Word</a> (don't think about it) as a thirteen-year-old. I (painfully) also have a Bachelor's degree in Software Engineering from the <i>University of Northampton</i> (class of 2025), and I am based somewhere in the UK.
      </p>

      <p>You can reliably reach me via the e-mail address at the top of this page, or on X; also linked above.</p>
    </section>

    <section class="mt-6" id="articles">
      <H1>Latest posts</H1>

      <div class="mt-5 space-y-5">
        {publishedPosts.map((post) => <MinimalArticleListItem post={post} />)}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="/blog" class="text-sm">View all articles &rarr;</a>
      </div>
    </section>

    <hr class="my-12" />

    <section id="projects">
      <H1>Stuff you might like</H1>

      <div class="mt-5 space-y-5">
        {projects.map((project) => <ProjectPreviewListItem project={project} />)}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="/projects" class="text-sm">View all projects &rarr;</a>
      </div>
    </section>
  </main>
</Layout>
