---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Ayodeji">
  <main class="h-screen max-h-screen py-6">
    <h1>Ayodeji</h1>
  </main>
</Layout>
