---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ayodeji">
	<main class="container mx-auto px-6">
		<h1 class="text-3xl lg:text-3xl font-bold font-souvenir mb-4 mt-6">
			Hi, I'm Ayodeji &#128075;
		</h1>

		<p id="about"></p>
	</main>
</Layout>
