---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ayodeji">
  <main class="h-screen max-h-screen flex flex-col justify-between py-8 px-8">
    <h1 class="text-4xl">Ayodeji</h1>
    <section>
      <!-- <Link href="/about" newTab={false}>About</Link> -->
    </section>
  </main>
</Layout>
