---
import Link from "../components/Link.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layouts/Layout.astro";

const currentYear = new Date().getFullYear();
let currentTime = new Date().toDateString();
---

<Layout title="Ayodeji" hideFooter={true}>
	<main>
		<img src="/images/me.JPG" alt="Ayodeji" class="w-16 lg:w-24 aspect-square object-cover rounded-lg" />

		<div class="text-neutral-500 border-t border-b border-neutral-900 py-3 my-4">
			<a href="/blog">~/blog</a>
		</div>

		<h1 class="text-3xl lg:text-3xl font-bold mb-4">Hello, I'm Ayodeji &#128075;</h1>

		<p class="" id="about">
			I'm a Software Engineering student somewhere in England and a mostly self-taught software developer interested in building products I would use and exploring a lot of technology while doing that and having fun. I think I'd say that I'm an inquisitive person who's interested in the "why"
			of things, the human mind, Greek and Norse mythology, science fiction, and a few other... weird topics?
		</p>
	</main>
</Layout>
