---
import Layout from "@layouts/Layout.astro";
import SiteHeader from "@components/layout/SiteHeader.astro";
import ArticleListItem from "@components/items/ArticleListItem.astro";
import ProjectPreviewListItem from "@components/items/ProjectPreviewListItem.astro";

import { getCollection } from "astro:content";
import H1 from "@components/mdx/H1.astro";

const MAX_LATEST = 5;

const posts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

const publishedPosts = posts?.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())?.slice(0, MAX_LATEST);

const projects = (await getCollection("projects"))?.[0]?.data?.slice(0, MAX_LATEST);
---

<Layout title="Ayodeji">
  <main class="container">
    <SiteHeader />

    <section id="about-me">
      <!-- prettier-ignore -->
      <p>
        Hiya! I am Ayodeji, a software developer, your friendly Neovim enjoyer and a software engineering student somewhere in England. I am constantly learning and very keen on crafting the type of software experience I'd like to use and you can fall in love with - performant, intuitive, real-time, local-first and out of your way. I am a big fan of statically-typed compiled languages, PHP and the BEAM but I frequently (have to) dabble in <a href="/tools">other things</a> too. I <a href="/blog">write</a> here from time to time and I also stream infrequently on <a href="https://twitch.tv/truly_ao">Twitch</a>.
      </p>
    </section>

    <section class="mt-6" id="articles">
      <H1>Latest posts</H1>

      <div class="mt-5 space-y-5">
        {publishedPosts.map((post) => <ArticleListItem post={post} />)}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="/blog" class="text-sm">View all articles &rarr;</a>
      </div>
    </section>

    <hr class="my-12" />

    <section id="projects">
      <H1>Featured projects</H1>

      <div class="mt-5 space-y-5">
        {projects.map((project) => <ProjectPreviewListItem project={project} />)}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="/projects" class="text-sm">View all projects &rarr;</a>
      </div>
    </section>
  </main>
</Layout>
