---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import ArticleListItem from "../components/ArticleListItem.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

let publishedPosts = posts?.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
publishedPosts = publishedPosts.slice(0, 5);
---

<Layout title="Ayodeji">
  <main class="container">
    <SiteHeader />

    <section id="about-me">
      <p>
        Hiya! I am Ayodeji, a software developer, your friendly Neovim enjoyer and a software engineering student somewhere in England. I am constantly learning and very keen on
        crafting the type of software experience I'd like to use and you can fall in love with - performant, intuitive, real-time, local-first and out of your way. I am a big fan
        of statically-typed compiled languages but I frequently (have to) dabble in <a href="/tools">other things</a> too. I write here from time to time and I also stream some days
        on <a href="https://twitch.tv/iamtrulyao">Twitch</a>.
      </p>
    </section>

    <section class="my-6" id="articles">
      <h2 class="font-bold text-2xl">Recent Articles</h2>

      <div class="mt-4 space-y-4">
        {publishedPosts.map((post) => <ArticleListItem post={post} isPreview />)}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="/blog" class="text-sm">See all articles &rarr;</a>
      </div>
    </section>
  </main>
</Layout>
