---
import Layout from "../layouts/Layout.astro";
import NoteListItem from "../components/items/NoteListItem.astro";
import SiteHeader from "@components/layout/SiteHeader.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const notes = await getCollection("notes", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

let publishednotes = notes?.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
let notesByYear: Record<string, Array<CollectionEntry<"notes">>> = {};
for (const note of publishednotes) {
  const year = note.data.date.getFullYear().toString();
  if (!notesByYear[year]) {
    notesByYear[year] = [];
  }
  notesByYear[year].push(note);
}
const years = Object.keys(notesByYear).sort((a, b) => parseInt(b) - parseInt(a));
---

<Layout title="Notes">
  <main class="container">
    <SiteHeader />

    <h2 class="text-3xl mb-3">Notes</h2>

    <!-- prettier-ignore -->
    <p class="mb-8">
      My (short) notes on a variety of topics, including software development, design, and more that I find useful or interesting enough.
    </p>
    <div class="mt-4 space-y-20">
      {
        years.map((year) => (
          <div id={`year-${year}`}>
            <h2 class="w-min bg-secondary-dark dark:bg-secondary-light text-lg text-primary-text-dark dark:text-primary-text-light px-3 py-0.5 mb-5">{year}</h2>
            <ul class="space-y-6">
              {notesByYear[year].map((note) => (
                <NoteListItem note={note} />
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
