---
import type { CollectionEntry } from "astro:content";
import Tags from "../components/Tags.astro";

export interface Props {
  isPreview?: boolean;
  post: CollectionEntry<"blog">;
}

const {
  post: { data, slug },
  isPreview = false,
} = Astro.props;
---

<style>
  a {
    text-decoration: none;
  }

  time {
    font-size: theme("fontSize.sm");
    color: theme("colors.secondary.600");

    @apply dark:text-secondary-400;
  }

  .post-title {
    font-size: theme("fontSize.lg");
    font-weight: theme("fontWeight.bold");
    color: theme("colors.primary.text.light");
    text-decoration: none;

    @apply dark:text-primary-text-dark;
  }

  .post-description {
    font-size: theme("fontSize.sm");
    color: theme("colors.secondary.400");

    @apply dark:text-secondary-400;
  }
</style>

<div class="space-y-2">
  <a href={"/blog/" + slug} class="post-title">{data.title}</a>
  <p class="post-description" class:list={isPreview ? "hidden" : ""}>{data.description}</p>

  <div class="flex items-center justify-between">
    <div>
      <Tags data={data.tags} />
    </div>

    <time datetime={data.date.toISOString()}>
      {new Date(data.date).toLocaleDateString()}
    </time>
  </div>
</div>
