---
const year = new Date().getFullYear();
---

<footer class="border-t border-neutral-900 mt-10 py-4 px-6">
	<p class="text-xs text-center font-medium text-neutral-700 py-1">
		&copy; {year} Ayodeji.
	</p>
</footer>
