---
const year = new Date().getFullYear();
---

<footer
	class="max-w-6xl flex justify-between items-center border-t border-neutral-900 mt-10 mx-auto py-8 px-6"
>
	<p class="text-xs text-center font-medium text-neutral-700 py-1">
		&copy; {year} Ayodeji.
	</p>
	<iframe
		src="https://github.com/sponsors/aosasona/button"
		title="Sponsor aosasona"
		height="32"
		width="114"
		style="border: 0; border-radius: 6px;"></iframe>
</footer>
