---
import LiveActivity from "./LiveActivity";
---

<header>
	<div class="flex flex-col md:flex-row items-center md:justify-between gap-4">
		<img src="/images/me.JPG" alt="Ayodeji" class="max-h-24 md:max-h-28 aspect-square object-cover self-start" />
		<LiveActivity client:load />
	</div>
	<p class="text-xs text-zinc-500 font-medium mt-4">
		<i class="fa fa-location text-emerald-500"></i> England, UK
	</p>
	<div class="site-nav" x-data="{ showNav: false }">
		<button x-on:click="showNav = !showNav" class="text-emerald-500 text-xs font-medium p-0 m-0 transition-all">
			<i class="fa" x-bind:class="showNav ? 'fa-angle-down' : 'fa-angle-right'"></i> MENU
		</button>
		<div class="space-y-1.5 ml-4 mt-1" x-bind:class="showNav ? '' : 'hidden'">
			<a href="/">~/home</a>
			<a href="/blog">~/blog</a>
			<a href="/#tools">~/tools</a>
			<a href="/#projects">~/projects</a>
		</div>
	</div>
</header>
