---
import LiveActivity from "./LiveActivity";
---

<header>
	<div class="flex flex-col md:flex-row items-center md:justify-between gap-4">
		<img src="/images/me.JPG" alt="Ayodeji" class="max-h-24 md:max-h-28 aspect-square object-cover self-start" />
		<LiveActivity client:load />
	</div>
	<p class="text-xs text-zinc-500 font-medium mt-4">
		<i class="fa fa-location text-emerald-500"></i> England, UK
	</p>
	<div class="site-nav">
		<button class="text-emerald-500 text-xs font-medium p-0 m-0 transition-all" id="menu-btn">
			<i class="fa fa-angle-right"></i> MENU
		</button>
		<div class="hidden space-y-1.5 ml-4 lg:ml-3 mt-1" id="menu">
			<a href="/">~/home</a>
			<a href="/blog">~/blog</a>
			<a href="/#tools">~/tools</a>
			<a href="/#projects">~/projects</a>
		</div>
	</div>
</header>

<script>
	const menuBtn = document.getElementById("menu-btn")!;
	const menuIcon = menuBtn.querySelector("i")!;
	const menu = document.getElementById("menu")!;

	menuBtn.addEventListener("click", () => {
		menu.classList.toggle("hidden");
		menuIcon.classList.toggle("fa-angle-right");
		menuIcon.classList.toggle("fa-angle-down");
	});
</script>
