---
interface Props {
  href: string;
  newTab: boolean;
}

const { href, newTab }: Props = Astro.props;
---

<a
  href={href}
  target={newTab ? "_blank" : "_self"}
  rel="noreferrer noopener"
  class="text-white transition-all link"
>
  <div class="flex items-center gap-2">
    <!-- <BsArrowUpRight size={20} /> -->
    <span class="w-5 h-[1px] bg-white transition-all link-line"></span>
    <p class="text-sm font-light"><slot /></p>
  </div>
</a>

<style>
  .link:hover .link-line {
    width: 4rem;
    opacity: 0.4;
  }
  .link:hover p {
    color: #fff;
    opacity: 0.4;
  }
</style>
