---
const year = new Date().getFullYear();
---

<footer>
  <p
    class="bg-neutral-900 bg-opacity-30 opacity-80 text-[11px] leading-normal tracking-wide my-6 p-4 rounded"
  >
    Designed and developed by <a
      href="https://twitter.com/trulyao"
      class="text-white underline">Ayodeji</a
    >, this template is available to be re-used with proper credits and the
    source code can be found <a
      href="https://github.com/aosasona/trulyao-v4"
      class="text-white underline">here</a
    >.
  </p>

  <hr />

  <p class="text-right text-xs font-medium opacity-40 py-1">
    &copy; {year} Ayodeji.
  </p>
</footer>
