---
const html = await Astro.slots.render("default");

const langauge = html?.match(/class="language-(.*?)"/)?.[1] || "unknown";
---

<div class="my-3">
  <div class="sticky-section-label">{langauge}</div>
  <div class="code-block">
    <Fragment set:html={html} />
  </div>
</div>
