---
import { Icon } from "astro-icon/components";
// TODO: create section header with floating link icon for copiable link: https://docs.astro.build/en/reference/api-reference/#astroslotshas
---

<h2 class="font-bold text-2xl relative">
  <Icon name="tabler:link" class="absolute -left-10" />
  <slot />
</h2>
